.reserv1background{
    background-color: white;
    height: 120vh;
}
.room1text1{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    text-align: center;
    justify-items: center;
}
.room1text1 h4 span{
    font-weight: normal;
    font-size: 1cm;
}
.room1text2{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1cm;
    gap: 0.7rem;
}
.line1{
    margin-top: 60px;
    margin-left: 800px;
}
.icondescribe2{
    color: rgb(23, 29, 82);
}

.icon3{
    margin-top: 50px;
    display: flex;
    gap: 15rem;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border: 4px solid rgb(23, 29, 82);
    border-radius: 50%;
    background-color: none;
    color: white;
}
.reservpic{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.textforreserv {
    display: grid;
    align-items: center;
    justify-content: center;
}
.reservdate1{
    margin-top: 20px;
    display: flex;
    gap: 250px;
}
.option{
    box-sizing: content-box;
    width: 300px;
    border: solid black 5px;
}
.choosereserv1{
    display: flex;
    flex-direction: row;
    gap: 30rem;
}
.choosereserv1 span{
    margin-left: 550px;
}
.confirmbutton1{
    width: 300px;
    height: 100px;
}
.buttonconfirm{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.label1{
    margin-top: 30px;

}
.confirmdate{
        margin-top: 30px;
        font-size: 30px;
        width: 150px;
        height: 600px;
        box-sizing: content-box;
        width: 300px;
        border: solid black 5px;
        padding: 30px;
        border-radius: 15px;
        display: grid;
        align-items: center;
        justify-content: center;
    }
.reservation-success-alert{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #524e4e;
        border: 1px solid #dddddd;
        padding: 20px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 9999;
        color: rgb(193, 196, 25);
      }